html, body {
  margin: 0;
  padding: 0;
  background: #fff;
}

html.is-intel,
html.is-intel body {
  background: #f9fafb;
}

html.is-intel-dark,
html.is-intel-dark body {
  background: #020203;
}

canvas {
  display: block;
}
